.container {
  text-align: center;
  background-color: rgb(43, 3, 81);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}
h1 {
  margin-top: 7rem !important;
}

#number-display {
  font-size: 2rem;
  color: #110a62;
  text-align: center;
  margin: 1rem 0;
  height: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  background-color: #000;
  padding: 1rem;
  border-radius: 10px;
  text-shadow: 0 0 10px #ff0000;
}
#timer {
  margin-top: 1rem;
  font-size: 1.5rem;
}
#number-input {
  width: 80%;
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: #ff6666;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 20%;
  font-size: 1rem;
}
button:hover {
  background-color: #ff3333;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: #4a4a4a;
  margin-bottom: 1rem;
}
#message {
  color: red;
  margin-top: 1rem;
  font-size: 1rem;
}
#guessCounter {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: green;
}

/* Media Queries for Different Devices */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
  #number-display {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  #timer {
    font-size: 1.2rem;
  }
  #number-input {
    width: 90%;
    font-size: 0.9rem;
  }
  button {
    font-size: 0.9rem;
  }
  #message,
  #guessCounter {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.5rem;
  }
  #number-display {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  #timer {
    font-size: 1rem;
  }
  #number-input {
    width: 95%;
    font-size: 0.8rem;
  }
  button {
    font-size: 0.8rem;
  }
  #message,
  #guessCounter {
    font-size: 0.8rem;
  }
}
